
:root {
    --boxWidth: 3.2vw;
    --border:0.1vw
  }
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .sudokuGrid {
    width: 37vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2vw;
} */

.sudokuGrid{
    display: grid;    
    grid-template-columns: repeat(3,  calc(var(--boxWidth)*3 + var(--border)));   
    /* grid-template-rows: repeat(3, calc(var(--boxWidth)*3 + var(--border)));  */
    box-sizing: border-box;
    border: calc(var(--border)*2) solid;
}

/* .threeGrid{
    width: calc(var(--boxWidth)*3 + 0.4vw);
    height: calc(var(--boxWidth)*3 + 0.4vw);
    outline: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align:center;
    flex-flow:row wrap;  
} */

.threeGrid{
    display: grid;    
    grid-template-columns: repeat(3,  calc(var(--boxWidth)));   
    grid-template-rows: repeat(3, calc(var(--boxWidth))); 
    border: var(--border) solid black;
}


.box {
    height: var(--boxWidth);
    width:  var(--boxWidth);
    border: var(--border) solid lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align:center;
    box-sizing: border-box;
    
}

.buttonsSection {
    width: 40vw;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    margin-top: 2vh;
    gap:2vw
}

.validationErrorCss {
    color: red;
}

p {
    margin: 0 0 0 0 !important;
}

.boldNumber {
    font-weight: bolder;
}

.errorCell{
    background-color: red;
}

.messages{
    margin-bottom: 3vh;
}

@media screen and (max-width: 750px) {
    :root {
        --boxWidth: 8vw;
      }

    body {
      background-color: lightblue;
    }
    .sudokuGrid {
        font-size: 5vw;
    }
    
    .buttonsSection {
        width: 80vw;
        height: 10vh;
    }
    .instructions{
        width: 80vw;
        text-align: center;
    }
    
  }