
:root {
    --boxWidth: 3.2vw;
  }
.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sudokuGrid {
    width: 37vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2vw;
}

.threeGrid{
    width: calc(var(--boxWidth)*3 + 0.4vw);
    height: calc(var(--boxWidth)*3 + 0.4vw);
    outline: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align:center;
    flex-flow:row wrap;  

}
.box {
    height: var(--boxWidth);
    width:  var(--boxWidth);
    border: 1px solid lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align:center;
    
}

.buttonsSection {
    width: 40vw;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    margin-top: 2vh;
    gap:2vw
}

.validationErrorCss {
    color: red;
}

p {
    margin: 0 0 0 0 !important;
}

.boldNumber {
    font-weight: bolder;
}

.errorCell{
    background-color: red;
}

.messages{
    margin-bottom: 3vh;
}

@media screen and (max-width: 750px) {
    :root {
        --boxWidth: 8vw;
      }

    body {
      background-color: lightblue;
    }
    .sudokuGrid {
        width: 90vw;
        font-size: 5vw;
    }
    
    .threeGrid{
        width: calc(var(--boxWidth)*3 + 0.4vw);
        height: calc(var(--boxWidth)*3 + 0.4vw);
          
    }
    .box {
        height: var(--boxWidth);
        width:  var(--boxWidth);
    }
    
    .buttonsSection {
        width: 80vw;
        height: 10vh;
    }
    .instructions{
        width: 80vw;
        text-align: center;
    }
    
  }