
<div class="main">
    
    <div>
        <h1>Sudoku Solver</h1>
    </div>
    <div class="sudokuGrid">     
            <div *ngFor="let row of [0,1,2,3,4,5,6,7,8];let i = index" class="threeGrid">
                <div *ngFor="let col of [0,1,2,3,4,5,6,7,8];let j = index">
                    <input *ngIf="!inLastCondition"
                    [ngClass]="{'boldNumber':sudokugrid[getI(i,j)][getJ(i,j)]!='0'}"
                    [readonly]="solved" class="box" type="text" [(ngModel)]="sudokugrid[getI(i,j)][getJ(i,j)]" (ngModelChange)="validateInput(getI(i,j),getJ(i,j))" >
                    
                    <p *ngIf="inLastCondition"  
                    [ngClass]="{'boldNumber':sudokugrid[getI(i,j)][getJ(i,j)]!='0'}" 
                    class="box">{{this.ans[getI(i,j)][getJ(i,j)]}}</p>
                </div>
            </div>
            <p *ngIf="validationError" class="validationErrorCss">*Invalid number entered</p>

    </div>
   
    <div class="buttonsSection">
        <button mat-raised-button color="primary" (click)="solveSudoku()">Solve</button>
    </div>
   
    
</div>
